<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>write new chat</title>
    <link rel="stylesheet" href="/style2.css"/>
</head>
<body>
    <h3>write new chat..</h3>
    <form id="form_submitt" method="post" action="/chat">
       <div class="new">
        <input placeholder="who are you" name="from"/>
        <br><br>
        <textarea name="msg">write your meassage</textarea>
        <br><br>
        <input placeholder="add reciver" name="to"/>
        <button>Creat chat</button>
       </div>
    </form>
</body>
</html>